@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent
@namespace Sandbox


<root>
	<div class="speed">Speed: @GetCurrentSpeed() MPH</div>
	<div class="turn">
		<span class="point" style="left: 50%"/>
		<span class="point" style="left: @GetTurnDirection()"/>
		</div>
</root>

@code
{

	[Property] public scraprunners.TruckController TruckController;
	[Property] public float SpeedFactor {get; set; } = 1.0f;

	protected string GetCurrentSpeed()
	{
		return $"{(Math.Abs(TruckController.CurrentSpeed) * SpeedFactor):F0}";

	}
	protected string GetTurnDirection()
	{
		double percentage = -1 * (TruckController.TurnDirection / TruckController.TurnSpeed);
		double start = 50f; // initial left: value
		double max = 40; // maximum addition to left: value in either direction
		return $"{50.0f + max * percentage}%";
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash()
	{
		return System.HashCode.Combine($"{TruckController.CurrentSpeed} {TruckController.TurnDirection}");
	}
}