TruckHud
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: #444;


	// display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;

	.ref {
		width: 100%;
		height: 100%;
		opacity: 0.5;
		background-image: url("ui/truck.png");
		background-size: cover;
	}

	.speed {
		position: absolute;
		// background-color: red;

		left: 45%;
		top: 95%;

		font-size: 2rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.turn {
		position: absolute;
		left: 40%;
		right: 38.5%;
		top: 92.5%;
		bottom: 1rem;

		background-color: #333;

		font-size: 2rem;
		margin-right: 1rem;
		margin-bottom: 4rem;

		.point {
			position: absolute;
			background-color: white;
			// left: 50%;
			width: 0.5%;
			height: 250%;
			top: -0.25rem;
			margin-left: -.5rem;
		}
	}

	.health {
		position: absolute;
		top: 5.4%;
		left: 5.1%;
		height: 4.7%;
		width: 57rem;
		overflow: hidden;

		// opacity: 0.8;

		.max-health {
			position: absolute;
			z-index: 100;
			height: 100%;

			.pill {
				background-color: #fff;
				opacity: 0.2;
			}
		}

		.current-health, .damage {
			position: absolute;
			height: 100%;

			overflow: hidden;

			display: flex;

		}

		.current-health {
			z-index: 105;
			.pill {
				background-color: white;
			}

			transition: width 0.05s;
		}

		.damage {
			z-index: 101;

			.pill {
				background-color: #fa5b5b;
			}

			transition: width 1s;
		}

		.pill {
			height: 100%;
			width: 6.75rem;
			min-width: 6.75rem;

			border-radius: 3em;
			margin-right: 5px;
		}
	}
}